@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-color: #1176bc;
}
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ------------------------------ Header START ---------------------------- */
.header__top {
  padding: 0 30px;
}
.header__phones {
  margin-top: 10px;
  position: relative;
}
.header__shedule-flex,
.header__phone-flex,
.header__email,
.header__delivery {
  display: flex;
  align-items: center;
}

.header__email p,
.header__delivery p {
  margin: 5px 10px;
  font-size: 14px !important;
  font-weight: 500;
}

.header__shedule-flex p {
  margin: 10px 10px;
  font-size: 14px !important;
  font-weight: 500;
}
.header__bottom {
  width: 100%;
  z-index: 4;
  background-color: var(--main-color);
  padding: 0 30px 0 10px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 5px 5px -3px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -3px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -3px rgba(34, 60, 80, 0.6);
}

.header__container-top {
  max-width: 1300px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 10px;
}
.header__container {
  max-width: 1100px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.menu {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  width: 100%;
}
.menu a {
  text-decoration: none;
}
.menu li {
  position: relative;
  list-style: none;
}
.menu__icon {
  display: none;
}
.menu__list > li {
  position: relative;
  margin: 0 0 0 20px;
}

/* stroke */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav.menu__body ul li a {
  position: relative;
  color: #fff;
}
nav.menu__body ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #fff;
  height: 1px;
}
nav.menu__body ul li a:hover:after {
  width: 100%;
}

.sub-menu__list {
  position: absolute;
  top: 100%;
  left: -15px;
  background-color: #fff;
  padding: 15px;
  width: 700px;
  border-radius: 4px;
  border: 1px solid #f5f5f5;
}
.sub-menu__list > li {
  margin: 0 0 10px 0;
}
.sub-menu__list li:last-child {
  margin: 0;
}
.sub-menu__link {
  color: #000 !important;
  padding: 10px 15px;
  font-weight: 500;
}
.sub-menu__link:hover {
  background: #f5f5f5 !important;

  font-weight: 500;
}

/*------------------------------------*/
body._pc .menu__list > li:hover .sub-menu__list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
body._touch .menu__list > li {
  display: flex;
  align-items: center;
}
body ._touch .menu__link {
  flex: 1 1 auto;
}
.menu__arrow {
  width: 0;
  padding: 2px 6px;
  transition: transform 0.3s ease 0s;
}

body._touch .menu__list > li._active .sub-menu__list {
  display: none;
}

body._lock {
  overflow: hidden;
}
/*------------------------------------*/

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu__list > li {
    padding: 10px 0;
  }
  .sub-menu__list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    color: #000;
  }
}
@media (max-width: 992px) {
  .header__modal-callback {
    display: none;
  }
  .menu__list > li {
    margin: 0 0 0 15px;
  }
  .menu {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
  }
  .header__top {
    padding: 0 20px;
  }
  .sub-menu__list {
    width: 600px;
  }
}
@media (max-width: 767px) {
  .header__emailDelivery {
    display: none;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin-left: 20px;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__icon._active {
    position: absolute;
    left: 10px;
    top: 20px;
  }

  .menu__body {
    position: fixed;
    top: 0;
    z-index: 3;
    left: -100%;
    width: 80%;
    height: 100%;
    background-color: var(--main-color);
    padding: 100px 30px 30px 30px;
    transition: left 0.4s ease 0s;
    overflow: auto;
    min-height: 100%;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__arrow {
    display: none;
  }
  .menu__list > li {
    flex-wrap: wrap;
    margin: 0 0 30px 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .sub-menu__list {
    display: block;
  }
  .menu__link {
    font-size: 18px;
  }
  .sub-menu__list {
    position: relative;
    background-color: #fff;
    flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none;
  }
  .sub-menu__link {
    font-size: 20px;
    color: #000;
  }
}
@media (max-width: 380px) {
  .header__top {
    padding: 0 6px;
  }
}
/*---------Modal WINDOW start------*/
.main__modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.main__modal.actives {
  opacity: 1;
  pointer-events: all;
}

/*---------Modal WINDOW end------*/

/*---------PhoneDropdown WINDOW start------*/

.phone_dropdown {
  position: absolute;
  top: 30px;
  left: 18px;
  z-index: 33;
  background-color: #fff;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid #f5f5f5;
  display: block;
  transition: all 0.3s ease 0.2s;
}
.phone_dropdownactive {
  display: none;
}
/*---------PhoneDropdown end------*/
/*---------  Header CART   start------*/
.header__cart {
  color: #fff;
  position: relative;
  margin-left: 7%;
}
.header__cart-link {
  color: #fff;
}
.header__cart-counter {
  position: absolute;
  font-family: "Roboto", "sans-serif" !important;
  top: -10px;
  right: -12px;
  width: 23px;
  height: 23px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.header__cart-cart {
  width: 20px;
  height: 20px;

  margin: 0 5px;
}
.header__cart-counter.blue {
  background-color: rgb(8, 187, 187);
}
.header__cart-counter.red {
  background-color: rgb(240, 51, 17);
}
@media (max-width: 992px) {
  .header__cart {
    margin-left: 30px;
  }
}

/*---------  Header CART   end------*/

/* ------------------------------ Header END  ---------------------------- */
